@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "inter", sans-serif;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 1366px;

    margin: 0;

    color: #2D3440;
    background-color: #FEAFC3;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-container {
    flex-grow: 1;
}

.btn {
    display: inline-block;
    box-sizing: border-box;

    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    padding: 12px 32px;
    margin: 0;

    text-align: center;
    text-decoration: none;
    cursor: pointer;

    color: #2D3440;
    background-color: #FCFCFC;

    border-radius: 26px;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    background-clip: padding-box;
    outline: none;
}

.btn:hover {
    background-color: rgba(252, 252, 252, 0.4);
    border: 4px solid #FCFCFC;
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
    border-radius: 26px;
}

.btn:focus {
    background-color: #FCFCFC;
    border: 2px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);

    margin: 2px 0 2px 2px;
}

.btn:disabled {
    font-weight: normal;
    color: #B9B9B9;
    background-color: #B9B9B9;
    border: 4px solid rgba(185, 185, 185, 0.3);     
}

.btn-pink {
    color: #FCFCFC;
    background-color: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    background-clip: padding-box;
    outline: none;
}

.btn-pink:hover {
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    border: 4px solid #FF2F64;
}

.btn-pink:focus{
    background-color: #FF2F64;
    border: 2px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.btn-pink:disabled {
    font-weight: normal;
    color: #565C66;
    background-color: #B9B9B9;
    border: 4px solid rgba(185, 185, 185, 0.3);
}


/* Шапка */
.page-header {
    padding-top: 24px;
    line-height: 20px;

    margin-bottom: 40px;
}

.page-header .wrapper {
    display: flex;
    justify-content: flex-end;
}

.navigation {
    display: flex;
    align-items: baseline;

    width: 1018px;
    margin-left: auto;
    margin-top: 10px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    width: 401px;

    list-style-type: none;
}

.navigation-item {
    margin: auto;
    position: relative;

    border-radius: 26px;
}

.navigation-link {
    display: block;

    padding: 6px 14px;

    color: #2D3440;
    text-decoration: none;
    border-radius: 26px;
    border: 2px solid #FEAFC3;
}

.entrance {
    background-image: url("../img/icon/log-in.svg");
    background-repeat: no-repeat;
    background-position: 25% center;
    background-size: 18px 18px;
}

.search {
    background-image: url("../img/icon/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.4);
    border: 2px solid rgba(252, 252, 252, 0);
}

.navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.4);
    outline: none;
    border: 2px solid #2D3440;
}

.navigation-link:active {
    background-color: #FCFCFC;
    border: 2px solid #FCFCFC;
}

.navigation-link.current {
    background-color: #FF4A78;
    border: 2px solid #FF4A78;
}

.navigation-user {
    margin-left: auto;
    width: auto;

    align-items: center;
}

.navigation-user .navigation-link {
    position: relative;

    font-size: 14px;
    line-height: 20px;

    margin: 0;
    padding: 4px 16px;

    color: #2D3440;
    text-decoration: none;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid rgba(252, 252, 252, 0);
    border-radius: 26px;
}

.navigation-user .popover-group:not(:last-child) {
    margin-right: 16px;
}

.navigation-user .navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.4);
    border: 2px solid rgba(252, 252, 252, 0);
}

.navigation-user .navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.4);
    border: 2px solid #2D3440;
    outline: none;
}

.navigation-user .navigation-link:active {
    background-color: #FCFCFC;
    border: 2px solid #FCFCFC;
}

.popover-group {
    position: relative;
}

.navigation-user .phone {
    font-weight: bold;
    font-size: 16px;

    background-color: #FEAFC3;
    border: 2px solid #FEAFC3;
}

.search.navigation-link {
    width: 28px;
    height: 28px;

    padding: 0;
}

.navigation-icon {
    position: absolute;
    top: 0;
    left: 16px;
    bottom: 0;

    margin: auto 0;
}

.cart.navigation-link,
.entrance.navigation-link {
    padding-left: 38px;
}




/* Промо */
.slider {
    position: relative;
    margin-bottom: 80px;
}

.slider-container {
    margin-left: 70px;
}

.slider-controls {
    position: absolute;
    top: 238px;
    right: 298px;

    width: 310px;
    height: 38px;
}

.control {
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    padding: 8px;

    width: 38px;
    height: 38px;

    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: none;
    border: 2px solid #FCFCFC;
    box-sizing: border-box;
    outline: none;
}

.control:hover {
    background-color: #FCFCFC;
    border: 2px solid #FCFCFC;
}

.control:hover path {
    fill: #2D3440;
}

.control:focus {
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #2D3440;
}

.control:focus path {
    fill: #2D3440;
}

.control:active {
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid rgba(252, 252, 252, 0.4);
}

.control:active path {
    fill: rgba(252, 252, 252, 0.4);
}

.slider-prev {
    top: 50%;
    left: -19px;
    transform: translateY(-50%);
}

.slider-next {
    top: 50%;
    right: -19px;
    transform: translateY(-50%);
}

.slider-icon {
    margin: auto;
}

.slider-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;

    margin: 116px 21px 25px 0;
    padding: 0;

    width: 470px;
}

.slider-description {
    font-size: 18px;
    line-height: 24px;

    margin: 0 0 43px 0;
    padding: 0;

    width: 430px;
}

.slider-list {
    position: relative;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.slider-item {
    display: flex;
}

.slider-item::before {
    content: "";
    position: absolute;
    top: 100px;
    right: 297px;

    height: 312px;
    width: 312px;
    background-color: #FFCBD8;
    border-radius: 50%;
}

.slider-navigation {
    display: flex;
    flex-wrap: wrap;
}

.slider-img {
    position: relative;
    display: block;
}

.mini-icecreem-list {
    position: absolute;
    top: 169px;
    right: 0;
    list-style-type: none;
}

.mini-icecreem-img:not(:last-child) {
    margin-right: 38px;
}

.icecream:not(.current) {
    display: none;
}

.page-list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    width: 104px;

    margin: 0;
    padding: 0;

    list-style-type: none;
}

.page-btn {
    width: 12px;
    height: 12px;

    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 100px;
    outline: none;
}

.page-btn:hover {
    background-color: rgba(252, 252, 252, 0.3);
    border: 1px solid #FCFCFC;
    box-sizing: border-box;
}

.page-btn:focus {
    background-color: rgba(252, 252, 252, 0.3);
    border: 1px solid #2D3440;
    box-sizing: border-box;
}

.page-btn-current {
    background-color: #FCFCFC;
}

.page-item .page-btn {
    display: block;
    width: 12px;
    height: 12px;

    margin: 0;
    padding: 0;
}

.page-item {
    margin-right: 8px;
    margin-top: 8px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    margin-left: auto;
    height: 28px;
    width: 216px;

    list-style-type: none;
    transform: translateX(2px);
}

.social-item {
    margin-left: 12px;
    margin-bottom: 8px;
    width: 28px;
    height: 28px;
}

.social-btn {
    display: inline-block;
    padding: 0;
    margin: 0;

    height: 24px;
    width: 24px;

    border: 2px solid rgba(252, 252, 252, 0.2);
    border-radius: 50px;
    background-color: #FEAFC3;
    outline: none;
}

.vk-btn {
    background-image: url("../img/icon/vk.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
}

.vk-btn:hover {
    background-color: #2D3440;
    background-clip: content-box;
    border: 2px solid rgba(252, 252, 252, 0.2);
}

.vk-btn:focus {
    background-color: #2D3440;
    border: 2px solid #2D3440;
}

.fb-btn {
    background-image: url("../img/icon/facebook.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
}

.fb-btn:hover {
    background-color: #2D3440;
    background-clip: content-box;
    border: 2px solid rgba(252, 252, 252, 0.2);
}

.fb-btn:focus {
    background-color: #2D3440;
    border: 2px solid #2D3440;
}

.inst-btn {
    background-image: url("../img/icon/instagram.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
}

.inst-btn:hover {
    background-color: #2D3440;
    background-clip: content-box;
    border: 2px solid rgba(252, 252, 252, 0.2);
}

.inst-btn:focus {
    background-color: #2D3440;
    border: 2px solid #2D3440;
}

.slider-container .btn {
    transform: translateX(-3px);
}




/* Подарки */
.gifts {
    margin-bottom: 51px;
}

.gifts-title {
    margin-top: 0;
    margin-bottom: 55px;

    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    text-align: center;
}

.gift-title {
    margin: 0 0 16px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.gift-description {
    margin: 0 155px 28px 0;

    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
}

.gifts-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.gifts-item:first-child {
    background-image: url("../img/raspberry.png");
    background-position: bottom;
}

.gifts-item:nth-child(2n) {
    background-image: url("../img/marshmallows.png");
    background-position: bottom;

    margin-left: auto;
}

.gifts-item {
    padding: 40px 40px 36px 40px;
    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-size: 570px 268px;
    background-color: #FF7799;

    width: 490px;

    border-radius: 16px;
}

.gift-btn {
    transform: translateX(-4px);
}




/* Товары */
.product {
    margin-bottom: 19px;
}

.product-card {
    margin-bottom: 76px;
}

.product-title {
    margin-top: 0;
    margin-bottom: 106px;

    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 30px;

    margin: 0; 
    margin-bottom: 53px;
    padding: 0;

    list-style-type: none;
}

.product-list-index {
    margin-bottom: 0;
}

.product-item {
    display: grid;
    grid-template-rows: 157px auto 32px 16px;
    grid-template-columns: 32px auto 32px 32px;
    gap: 8px;

    text-align: center;

    width: 270px;
    margin-bottom: 61px;

    background-color: #FCFCFC;
    border-radius: 8px;
}

.product-item-last {
    margin-bottom: 0;
}

.product-card-link {
    position: relative;
    text-decoration: none;
    grid-column: 2 / 4;
}

.product-card-image {
    position: absolute;
    top: -51px;
    left: 11px;
    
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;

    border-radius: 50%;
    filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
}

.product-card-title {
    position: absolute;
    top: 133px;
    width: 190px;

    margin: 0;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #2D3440;
}

.product-card-description {
    grid-column: 2 / 4;

    margin: 0;
    margin-bottom: 8px;
    padding: 0;

    color: #565C66;
}

.product-card-price {
    grid-column: 2 / 3;

    font-size: 20px;
    line-height: 24px;

    margin: 4px auto 0 0;
}

.product-card-btn {
    grid-column: 3 / 4;

    width: 32px;
    height: 32px;

    padding: 0;
    margin: 0;

    border: 2px solid #FF2F64;
    box-shadow: none;
    background-clip: border-box;
}

.product-card-btn:hover {
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FF2F64;
}

.product-card-btn:focus {
    background-color: #FF2F64;
    border: 2px solid #2D3440;
    margin: 0;
}

.product-card-btn:disabled {
    background-color: #B9B9B9;
    border: 2px solid #B9B9B9;;
}

.product-icon {
    margin: 5px;
}

.product-icon path {
    fill: #FCFCFC;
}

.product-card-btn:hover path {
    fill: #2D3440;
}

.product-card-btn:disabled path {
    fill: #565C66;
}



/* Преимущества */
.advantages {
    margin-bottom: 80px;
    padding: 24px;

    background-image: url("../img/waffle-back.jpg");
    border-radius: 16px;
}

.advantages-inner {
    padding-top: 56px;
    background-color: #FCFCFC;

    border-radius: 16px;
}

.advantages-title {
    margin-top: 0;
    margin-bottom: 56px;

    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 40px 0 104px;
    padding: 0 0 16px 0;

    list-style-type: none;
}

.advantages-description {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;

    width: 442px;

    color: #565C66;
}

.advantages-description:nth-child(2n) {
    padding-right: 0;
}

.advantages-item {
    position: relative;
}

.icecreem-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -64px;

    width: 48px;
    height: 48px;

    background-image: url("../img/icon/ice-cream.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.cow-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -64px;

    width: 48px;
    height: 48px;

    background-image: url("../img/icon/cow.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.leaf-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -64px;

    width: 48px;
    height: 48px;

    background-image: url("../img/icon/leaf.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.thermo-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -64px;

    width: 48px;
    height: 48px;

    background-image: url("../img/icon/thermometer.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
}


/* Новости */
.info-row {
    display: flex;
    justify-content: space-between;

    margin-bottom: 76px;
}

.news {
    width: 570px;
    height: 220px;
    padding: 0;

    background-image: url("../img/news-back.jpg");
    background-repeat: no-repeat;
    background-size: 570px 220px;
    border-radius: 16px;
}

.news-title {
    margin: 32px auto 14px 32px;

    font-weight: normal;
    line-height: 20px;
    font-size: 16px;

    width: 303px;

    color: #565C66;
}

.news-description {
    margin: 0;
    margin-left: 32px;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    width: 303px;

    color: #2D3440;
}


/* Подписка */
.subs {
    width: 570px;
    height: 220px;

    margin-left: auto;

    background-image: url("../img/post-office-back.jpg");
    background-repeat: no-repeat;
    background-size: 570px 220px;
    border-radius: 16px;
}

.subs-description {
    width: 506px;

    margin: 0 0 40px 0;
    color: #565C66;
}

.subs-form {
    display: flex;
}

.subs-form input {
    margin: 0;
    margin-top: 2px;
    padding: 14px 16px;
    height: 18px;
    width: 300px;

    border: 1px solid #B9B9B9;
    border-radius: 4px;

    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    outline: none;
}

.subs-form input:hover {
    border: 1px solid #2D3440;
    cursor: pointer;
}

.subs-form input:focus {
    border: 2px solid #2D3440;
    padding: 13px 15px;
}

.subs-form input:invalid {
    border: 1px solid #EA5454;
}

.subs-form input:invalid:hover {
    border: 2px solid #EA5454;
    padding: 13px 15px;
}

.subs-form label:disabled {
    background-color: #E7E7E7;
    border: 1px solid #B9B9B9;
}

.subs-form .btn {
    margin: 0;
    margin-left: auto;
    transform: translateX(5px);
}

.subs-inner {
    width: 506px;

    margin: 6px;
    padding: 26px;
    padding-bottom: 24px;

    background-color: #FCFCFC;
    border-radius: 16px;
}


/* Форма заказа */
.order {
    display: flex;
    background-image: url("../img/form-back.jpg");
    background-repeat: no-repeat;
    background-size: 1170px 534px;
    border-radius: 16px;

    margin-bottom: 80px;
}

.order-col {
    margin: 167px 0 auto 100px;
}

.order-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    margin: 0 0 24px 0;
    padding: 0;
}

.order-description {
    margin: 0;
    margin-bottom: 163px;
    padding: 0;
    color: #565C66;
}

.order-form {
    display: grid;
    grid-template-columns: 117px 287px;
    grid-template-rows: 60px 80px 88px 52px;
    gap: 16px;
    width: 500px;

    margin: 64px 64px 64px 135px;
    padding: 40px;
    padding-bottom: 38px;

    border-radius: 8px;
    background-color: #FCFCFC;
}

.order-form-description {
    grid-column: 1/-1;

    margin: 0;
    padding: 0;

    color: #565C66;
}

.order-label {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    margin: 0;
    padding-right: 18px;
}

.order-adress {
    grid-column: 1/-1;
}

.order-date,
.order-phone,
.order-adress {
    display: flex;
    flex-direction: column;
}

.order-form input {
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    height: 18px;

    margin: 0;
    margin-bottom: 4px;
    padding: 14px 16px;

    border: 1px solid #B9B9B9;
    border-radius: 4px;
    color: #B9B9B9;
    cursor: pointer;
    outline: none;
}

.order-form input:hover {
    border: 1px solid #2D3440;
}

.order-form input:focus {
    border: 2px solid #2D3440;
    padding: 13px 15px;
}

.order-form input:disabled {
    background-color: #E7E7E7;
    border: 1px solid #B9B9B9;
}

.error {
    border: 1px solid #EA5454;
}

.error:hover {
    border: 2px solid #EA5454;
    padding: 13px 15px;
}

.order-row {
    position: relative;
    margin-bottom: 6px;
    margin-right: auto;
    transform: translateY(-1px);
}

.order-phone input {
    margin-top: 8px;
}

.order-adress input {
    margin-bottom: 10px;
}

.info {
    position: absolute;
    top: 3px;
    transform: translateX(-100%);
    
    width: 14px;
    height: 14px;

    margin: 0;
    padding: 0;

    background-image: url("../img/icon/info.svg");
    background-position: center;
    background-size: 14px 14px;

    border: none;
    background-color: inherit;
    outline: none;
}

.order-form .btn {
    grid-column: 1/-1;
    justify-self: center;
}


/* Контакты */
.contacts {
    background-image: url("../img/address-back.jpg");
    background-repeat: no-repeat;
    background-size: 1170px 492px;

    border-radius: 16px;
    height: 492px;
}

.contacts-inner {
    display: inline-block;
    padding: 40px;
    margin: 64px;

    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    background-color: #FCFCFC;
}

.contacts-address {
    margin-bottom: 28px;
}

.contacts-address-title {
    margin: 0 0 12px 0;
    padding: 0;

    font-size: inherit;
    font-weight: normal;

    width: 203px;

    color: #565C66;
}

.contacts-address-description {
    margin: 0 0 24px 0;
    padding: 0;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    width: 263px;
}

.contacts-phone {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #2D3440;
}

.contacts-address-time {
    margin: 0;
    padding: 0;
    margin-bottom: 29px;

    font-size: 14px;
    line-height: 20px;

    color: #565C66;
}

.contacts-inner .btn {
    transform: translateX(-4px);
}


/* Страница каталога */
.breadcrumbs-list {
    display: flex;

    width: 250px;

    margin: 10px 0 17px 0;
    padding: 0;

    list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
    margin-right: 28px;
    position: relative;
}

.breadcrumbs-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;

    border-bottom: 1px solid #2D3440;

    color: #2D3440;
}

.breadcrumbs-link-arrow::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -18px;

    background-image: url("../img/icon/chevrons-right.svg");
    background-position: center;
    height: 6px;
    width: 7px;
}

.breadcrumbs-current {
    border: none;
}

.page-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    margin: 0 0 40px 0;
    padding: 0;
}

.more {
    display: grid;
    grid-template-columns: 194px auto 187px auto 194px;
    grid-template-rows: 52px;
}

.more-list {
    grid-column: 5 / -1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0;

    list-style-type: none;
}

.more .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 4;
}

.more-link {
    font-size: 16px;
    line-height: 20px;

    text-decoration: none;
    color: #2D3440;
    width: 24px;
    height: 24px;
    padding: 2px 8px;
    outline: none;
    cursor: pointer;
}

.current-more {
    display: inline-block;
    box-sizing: border-box;
    background-color: #FCFCFC;
    border-radius: 50%;
}

.more-link:hover:not(.current-more) {
    background-color: rgba(252, 252, 252, 0.3);
    border: 1px solid #FCFCFC;
    border-radius: 50%;
    padding: 1px 7px;
}

.more-link:focus:not(.current-more) {
    background-color: rgba(252, 252, 252, 0.3);
    border: 1px solid #2D3440;
    border-radius: 50%;
    padding: 1px 7px;
}

.first-link-current path{
    fill: rgba(45, 52, 64, 0.2);
}

.more-item:first-child {
    padding-right: 16px;
}

.more-item:last-child {
    padding-left: 16px;
}

.more-link-nav {
    width: 16px;
    height: 16px;
}

.more-icon {
    margin: auto 0;
}




/* Форма страницы каталога */
.catalog-products {
    margin-bottom: 99px;
}

.catalog-filter {
    display: grid;
    grid-template-columns: 196px 212px 164px 187px;
    gap: 16px;
}

.catalog-filter-group {
    padding: 0;
    margin: 0;

    border: none;
}

.catalog-filter-group.price {
    margin-left: 8px;
    margin-right: 8px;
}

.catalog-filter-group.fillers {
    margin-right: 8px;
}

.catalog-filter-title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.sorting {
    position: relative;
}

.select-control {
    font: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;

    padding: 8px 16px;
    padding-right: 63px;

    width: 100%;
    height: 36px;

    border: none;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.3);
    background-image: url("../img/icon/arrow-down.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    appearance: none;

    cursor: pointer;
}

.select-control:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.select-control:focus {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 2px solid #FCFCFC;
}

.price {
    position: relative;
}

.price .catalog-filter-input {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: inherit;

    width: 28px;
    padding: 2px;
    border: none;
    background-color: inherit;
}

.price .catalog-filter-input::-webkit-outer-spin-button,
.price .catalog-filter-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range {
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    height: 36px;
}

.range-scale {
    display: inline-block;
    position: relative;

    height: 2px;
    width: 164px;
    margin-top: 17px;
    margin-left: 16px;
    background-color: rgba(86, 92, 102, 0.3);
    border-radius: 2px;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #565C66;
}

.range-toggle {
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 0;
    background-color: #FCFCFC;;
    border: 6px solid #2D3440;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle:hover {
    background-color: #2D3440;
    border: 6px solid #FCFCFC;
}

.range-toggle:focus {
    background-color: #2D3440;
    border: 6px solid #FCFCFC;
    outline: 2px solid #2D3440;
} 

.range-toggle:active{
    background-color: #2D3440;
    border: 6px solid #2D3440;
}

.toggle-min {
    top: -8px;
    left: -8px;
}
  
.toggle-max {
    top: -8px;
    right: -8px;
}

.input-group {
    position: absolute;
    display: block;
    top: -31px;
    right: 45px;
}

.fat {
    grid-column: 3/-1;
}

.fillers {
    grid-column: 1/4;
}

.control-label  {
    position: relative;
    display: block;
    padding-left: 24px;
    cursor: pointer;

    font-size: 14px;
    line-height: 20px;
}

.control-mark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 16px;
    height: 16px;
}

.control-input[type="radio"] + .control-mark {
    border: 1px solid #2D3440;
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    background-color: #2D3440;
    border-radius: 50%;
    content: "";
}

.control-input[type="radio"]:hover + .control-mark {
    border-color: #FCFCFC;
}

.control-input[type="radio"]:checked:hover + .control-mark::before {
    background-color: #FCFCFC;
}

.control-input[type="radio"]:disabled + .control-mark {
    border-color: rgba(45, 52, 64, 0.4);
}

.control-input[type="radio"]:checked:disabled + .control-mark::before {
    background-color: rgba(45, 52, 64, 0.4);
}

.checkbox-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.control-input[type="checkbox"] ~ .mark-checkbox-on {
    display: none;
}

.control-input[type="checkbox"] ~ .mark-checkbox {
    display: block;
}

.control-input[type="checkbox"]:checked ~ .mark-checkbox {
    display: none;
}

.control-input[type="checkbox"]:checked ~ .mark-checkbox-on {
    display: block;
}

.control-input[type="checkbox"]:hover ~ .checkbox-icon path,
.control-input[type="checkbox"]:checked:hover ~ .checkbox-icon path {
    fill: #FCFCFC;
}

.control-input[type="checkbox"]:disabled ~ .checkbox-icon path,
.control-input[type="checkbox"]:checked:disabled ~ .checkbox-icon path {
    fill: rgba(45, 52, 64, 0.4);
}

.catalog-filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 8px 16px;

    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
}

.catalog-filter-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.grid-row{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.catalog-filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2 / -1;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    border-radius: 20px;
    padding: 8px 32px;
    margin: 0;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

/* Подвал */
.page-footer .wrapper{
    display: flex;

    padding-top: 47px;

    border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    margin-right: 311px;

    width: 120px;

    list-style-type: none;
}

.footer-social-list .social-item {
    margin-left: 0;
    margin-right: 12px;
}

.suppliers {
    display: flex;
    justify-content: space-between;

    width: 335px;
}

.suppliers-col {
    display: flex;
    flex-direction: column;

    position: relative;
}

.suppliers-col:first-child {
    width: 130px;
}

.suppliers-col:last-child {
    width: 185px;
}

span.suppliers-info {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

span.suppliers-info::before {
    content: "";

    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    left: -24px;

    width: 16px;
    height: 16px;

    background-image: url("../img/icon/heart-fill.svg");
    background-repeat: no-repeat;
}

.suppliers-info {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px; 
    
    margin-bottom: 8px;

    color: #2D3440;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: 14px;
    
    font-size: 12px;
    line-height: 16px;

    height: 57px;
}

.copyright p {
    margin: 0;
    padding: 0;
}

.htmlacademy-link {
    color: #2D3440;
}




/* Поповеры */
.popover {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;

    color: #2D3440;
    background-color: #FCFCFC;
    border-radius: 4px;

    transition: all 0.05s ease 0s;
}


/* Каталог в меню */
.popover-group:focus-within .popover-catalog,
.popover-group:hover .popover-catalog {
    visibility: visible;
}

.popover-group:hover .navigation-link,
.popover-group:focus-within .navigation-link {
    background-color: #FCFCFC;
    border-color: #FCFCFC;
}

.popover-catalog {
    visibility: hidden;
    font-family: inherit;
    left: 0;
    top: 44px;
    width: 138px;
    min-height: 192px;
}

.popover-catalog-list {
    position: relative;
    height: 100%;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 14px;
    margin: 0;

    list-style-type: none;
}

.popover-catalog-link {
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    padding: 6px 10px 6px 14px;
    margin: 0;
    border: 2px solid #FCFCFC;
}

.popover-new-icecreem-link {
    font-weight: bold;
}

.popover-new-icecreem {
    margin-bottom: 16px;
}

.popover-new-icecreem::before {
    position: absolute;
    top: 48px;
    left: 16px;
    content: "";
    height: 1px;
    width: 106px;
    background-color: #B9B9B9;
}

.popover-catalog-link:hover {
    background-color: #FFCBD8;
    border: 2px solid #FFCBD8;
}

.popover-catalog-link:focus {
    background-color: #FF7799;
    border: 2px solid #FF7799;
    outline: none;
}

.popover-catalog-link.current {
    background-color: #FF4A78;
    border: 2px solid #FF4A78;
}


/* Поиск */
.popover-group:focus-within .popover-search,
.popover-group:hover .popover-search {
    visibility: visible;
}

.popover-search {
    visibility: hidden;
    right: 0;
    top: 40px;
    width: 356px;
    min-height: 96px;
}

.popover-search-form {
    position: relative;
}

.popover-search-form input {
    width: 324px;
    height: 48px;

    margin: 24px 16px;
    padding-left: 16px;
    padding-right: 16px;

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;

    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    border-radius: 4px;
}

.popover-search-form input:hover {
    border: 1px solid #2D3440;
}

.popover-search-form input:focus {
    border: 2px solid #2D3440;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}

.popover-search-form input:invalid {
    border: 1px solid #EA5454;
}

.popover-search-form input:invalid:hover {
    border: 2px solid #EA5454;
    padding-left: 15px;
    padding-right: 15px;
}

.popover-search-form input:disabled {
    background-color: #E7E7E7;
    border: 1px solid #B9B9B9;
}

.popover-search-btn {
    position: absolute;
    top: 50%;
    right: 29px;
    transform: translateY(-50%);

    border: none;
    background-color: #FFFFFF;

    width: 16px;
    height: 16px;
    cursor: pointer;
}

.popover-search-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.popover-search-btn path {
    fill: rgba(45, 52, 64, 0.4);
}

.popover-search-btn:hover path {
    fill: #2D3440;
}


/*Вход в лчнйый кабинет*/
.popover-group:focus-within .popover-entrance,
.popover-group:hover .popover-entrance {
    visibility: visible;
}

.popover-entrance {
    visibility: hidden;
    right: 0px;
    top: 42px;
    width: 420px;
    min-height: 350px;
    padding: 48px;
}

.entrance-title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;

    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.popover-entrance-form {
    display: grid;
    grid-template-columns: 120px 204px;
    grid-template-rows: 48px 48px auto;
    gap: 16px;
}

.popover-entrance-form input {
    grid-column: 1 / -1;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;

    width: 324px;
}

.popover-entrance-form input:hover {
    border: 1px solid #2D3440;
}

.popover-entrance-form input:focus {
    border: 2px solid #2D3440;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}

.popover-entrance-form input:disabled {
    background-color: #E7E7E7;
    border: 1px solid #B9B9B9;
}

.popover-entrance-btn {
    margin-top: 16px;
}

.popover-entrance-btn:focus {
    margin-top: 18px;
    margin-bottom: 4px;
}

.entrance-link-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    margin-top: 16px;
}

.entrance-link {
    border-bottom: 1px solid #2D3440;
    color: #2D3440;
    text-decoration: none;
}

/* Корзина */
.popover-group:focus-within .popover-cart,
.popover-group:hover .popover-cart {
    visibility: visible;
}

.popover-cart {
    visibility: hidden;
    right: 0;
    top: 42px;
    min-width: 288px;
    min-height: 156px;

    padding: 48px;
}

.cart-title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;

    color: #2D3440;
}

.cart-title-empty {
    text-align: center;
}

.popover-cart-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.popover-cart-item {
    display: grid;
    grid-template-columns: 46px 172px 100px 16px;
    grid-template-rows: 22px 20px;
    gap: 4px;

    margin-bottom: 24px;
}

.popover-cart-link-img {
    grid-row: 1 / -1;
}

.popover-cart-link-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.popover-cart-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2D3440;

    margin: auto 0;
    margin-left: 12px;
}

.popover-cart-order-weight {
    grid-column: 2 / 3;
    grid-row: 2 / -1;

    color: #B9B9B9;

    margin: auto 0;
    margin-left: 12px;
}

.popover-cart-price {
    grid-row: 1 / -1;
    grid-column: 3 / 4;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2D3440;

    margin: auto 0;
}

.popover-cart-btn {
    position: relative;
    grid-row: 1 / -1;
    grid-column: 4 / -1;

    width: 16px;
    height: 16px;
    margin: auto 0;

    background-color: #FCFCFC;
    border: none;
    outline: none;

    cursor: pointer;
}

.popover-cart-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.order-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 8px;
    border-top: 1px solid #E7E7E7;
    padding-top: 32px;
}

.total-price {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2D3440;
}



/* Модальное окно */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 52, 64, 0.3);
    z-index: 1;
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px;

    background-color: #FCFCFC;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.modal-feedback {
    width: 442px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 32px;
    right: 32px;
    width: 20px;
    height: 20px;
    background-color: #FCFCFC;
    border: none;
    background-image: url("../img/icon/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
} 

.modal-feedback-form {
    display: flex;
    flex-direction: column;
}

.modal-title {
    margin: 0;
    margin-bottom: 32px;
    font-family: inherit;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #2D3440;
}

.feedback-form-field {
    width: 442px;
    height: 48px;
    padding: 14px 16px;
    margin: 0;

    font-family: inherit;
    font-size: 16px;
    line-height: 20px;

    background-color: #FFFFFF;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    border-radius: 4px;
}

.area-form-field {
    height: 149px;
}

.field-group {
    margin: 0;
    margin-bottom: 16px;
}

.modal-feedback-form .btn {
    align-self: flex-end;
    margin-top: 16px;
}

/* Тултип */
.tooltip {
    visibility: hidden;
    position: absolute;
    top: -10px;
    left: 21px;
    width: 162px;

    background-color: #FCFCFC;
    border: 1px solid #B9B9B9;
    border-radius: 1px;
    color: #565C66;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);

    padding: 10px 8px;
    text-align: start;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 16px;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -6px;
    width: 10px;
    height: 10px;
    border: 1px solid #B9B9B9;
    border-color: transparent transparent #B9B9B9 #B9B9B9;
    background-color: #FCFCFC;
    transform: rotate(45deg);
}

.info:hover .tooltip {
    visibility: visible;
}