@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "inter", sans-serif;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    flex-direction: column;
    min-height: 100%;

    margin: 0;

    color: #2D3440;
    background-color: #FEAFC3;
}

ol, 
ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1;
  }

.btn {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    width: 179px;

    text-align: center;
    text-decoration: none;

    color: #2D3440;
    background-color: #FCFCFC;
}

.btn-pink {
    color: #FCFCFC;
    background-color: #FF2F64;
}

.btn-light-pink {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    background-color: rgba(252, 252, 252, 0.3);
}

/* Шапка */
.page-header {
    line-height: 20px;
}

.page-header .wrapper {
    display: flex;
    justify-content: flex-end;
}

.navigation {
    display: flex;

    width: 1000px;
    margin-left: auto;
}

.navigation-list {
    width: 400px;
}

.navigation-link {
    color: #2D3440;
    text-decoration: none;
}

.navigation-user {
    max-width: 420px;
    margin-left: auto;
}

.navigation-user a {
    font-size: 14px;
    line-height: 20px;

    color: #2D3440;
    text-decoration: none;
}

.phone {
    font-weight: bold;
    font-size: 16px;
}


/* Промо */
.slider-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;

    width: 470px;
}

.slider-description {
    font-size: 18px;
    line-height: 24px;

    width: 414px;
}

.slider-item {
    display: flex;
}

.slider-navigation {
    display: flex;
}

.social-list {
    margin-left: auto;

    width: 104px;
}


/* Подарки */
.gifts-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    text-align: center;
}

.gift-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.gifts-list {
    display: flex;
}

.gifts-item:first-child {
    background-image: url("../img/raspberry.png");
}

.gifts-item:last-child {
    background-image: url("../img/marshmallows.png");

    margin-left: auto;
}

.gifts-item {
    background-repeat: no-repeat;
    background-size: 570px 268px;

    background-color: #FF7799;

    width: 570px;
}


/* Товары */
.product-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    text-align: center;

    width: 270px;

    background-color: #FCFCFC;
}

.product-card-link {
    text-decoration: none;
}

.product-card-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #2D3440;
}

.product-card-description {
    color: #565C66;
}

.product-card-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}


/* Преимущества */
.advantages {
    background-image: url("../img/waffle-back.jpg");
    background-repeat: no-repeat;
    background-size: 1170px 480px;
}

.advantages-inner {
    background-color: #FCFCFC;
}

.advantages-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    text-align: center;
}

.advantages-description {
    color: #565C66;
}


/* Новости */
.info-row {
    display: flex;
}

.news {
    width: 570px;

    background-image: url("../img/news-back.jpg");
    background-repeat: no-repeat;
    background-size: 570px 216px;
}

.news-title {
    font-weight: normal;
    line-height: 20px;

    color: #565C66;
}

.news-description {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #2D3440;
}


/* Подписка */
.subs {
    width: 570px;

    margin-left: auto;

    background-image: url("../img/post-office-back.jpg");
    background-repeat: no-repeat;
    background-size: 570px 220px;
}

.subs-description {
    color: #565C66;
}

.subs-inner {
    background-color: #FCFCFC;
}


/* Форма заказа */
.order {
    display: flex;
    background-image: url("../img/form-back.jpg");
    background-repeat: no-repeat;
    background-size: 1170px 534px;
}

.order-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.order-description {
    color: #565C66;
}

.order-form {
    width: 500px;

    background-color: #FCFCFC;
}

.order-form-description {
    color: #565C66;
}

.order-label {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}


/* Контакты */
.contacts {
    background-image: url("../img/address-back.jpg");
    background-repeat: no-repeat;
    background-size: 1170px 492px;
}

.contacts-inner {
    width: 346px;

    background-color: #FCFCFC;
}

.contacts-address-title {
    font-weight: normal;

    color: #565C66;
}

.contacts-address-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.contacts-phone {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #2D3440;
}

.contacts-address p {
    font-size: 14px;
    line-height: 20px;

    color: #565C66;
}


/* Страница каталога */
.pagination-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    color: #2D3440;
}

.pagination-current {
    text-decoration: none;
}

.page-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.more {
    display: flex;
}

.more .btn {
    margin: 0 auto;
}

.more-link {
    font-size: 16px;
    line-height: 20px;

    text-decoration: none;
    color: #2D3440;
}

.current-more {
    background-color: #FCFCFC;
}


/* Форма страницы каталога */
.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 807px;
}

.catalog-filter-group {
    padding: 0;
    margin: 0;
}

.sorting,
.price {
    width: 196px;
}

.fat {
    width: 365px;
}

.fillers {
    width: 596px;
}

.catalog-filter-title {
    font-size: 14px;
    line-height: 20px;
}

.control-label {
    font-size: 14px;
    line-height: 20px;
}

.range-toggle {
    text-align: center;
    
    color: #FCFCFC;
    background-color: #2D3440;
}

/* Подвал */
.page-footer .wrapper{
    display: flex;
    justify-content: space-between;
}

.suppliers {
    display: flex;
    justify-content: space-between;

    width: 332px;
}

.suppliers-col {
    display: flex;
    flex-direction: column;
}

.suppliers-col:first-child {
    width: 126px;
}

.suppliers-col:last-child {
    width: 185px;
}

.suppliers span {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.suppliers-info {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;  

    color: #2D3440;
}

.copyright {
    font-size: 12px;
    line-height: 16px;
}

.htmlacademy-link {
    color: #2D3440;
}