@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "inter", sans-serif;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    flex-direction: column;
    min-height: 100%;

    margin: 0;

    color: #2D3440;
    background-color: #FEAFC3;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-container {
    flex-grow: 1;
  }

.btn {
    display: inline-block;
    box-sizing: border-box;

    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    padding: 12px 32px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;

    color: #2D3440;
    background-color: #FCFCFC;

    border-radius: 26px;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    background-clip: padding-box;
    outline: none;
}

.btn:hover {
    background: rgba(252, 252, 252, 0.4);
    border: 4px solid #FCFCFC;
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
    border-radius: 26px;
}

.btn:focus {
    background: #FCFCFC;
    border: 2px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.btn:disabled {
    font-weight: normal;
    color: #B9B9B9;
    background: #B9B9B9;
    border: 4px solid rgba(185, 185, 185, 0.3);     
}

.btn-pink {
    color: #FCFCFC;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    background-clip: padding-box;
    outline: none;
}

.btn-pink:hover {
    color: #2D3440;
    background: rgba(252, 252, 252, 0.3);
    border: 4px solid #FF2F64;
}

.btn-pink:focus{
    background: #FF2F64;
    border: 2px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.btn-pink:disabled {
    font-weight: normal;
    color: #565C66;
    background: #B9B9B9;
    border: 4px solid rgba(185, 185, 185, 0.3);
}


/* Шапка */
.page-header {
    padding-top: 24px;
    line-height: 20px;
}

.page-header .wrapper {
    display: flex;
    justify-content: flex-end;
}

.navigation {
    display: flex;

    width: 1000px;
    margin-left: auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style-type: none;
}

.navigation-item {
    margin: auto;
}

.navigation-link {
    display: block;

    padding: 8px 14px;

    color: #2D3440;
    text-decoration: none;
    border-radius: 26px;
}

.navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.4);
}

.navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.4);
    outline: 2px solid #2D3440;
}

.navigation-link:active {
    background: #FCFCFC;
}

.navigation-user {
    margin-left: auto;

    align-items: center;
}

.navigation-user .navigation-link {
    position: relative;
    min-width: 18px;
    min-height: 18px;

    font-size: 14px;
    line-height: 20px;

    margin: 0;
    padding: 7px 16px;

    color: #2D3440;
    text-decoration: none;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 26px;
}

.navigation-user .navigation-link:not(:last-child) {
    margin-right: 16px;
}

.navigation-user .navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.4);
}

.navigation-user .navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.4);
    outline: 2px solid #2D3440;
}

.navigation-user .navigation-link:active {
    background: #FCFCFC;
}

.navigation-user .phone {
    font-weight: bold;
    font-size: 16px;

    margin-right: 18px;
    background-color: #FEAFC3;
}

.search.navigation-link {
    width: 32px;
    height: 32px;

    padding: 0;
}

.navigation-link-login {
    margin-left: 24px;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 16px;

    margin: auto 0;
}

.search .navigation-icon {
    left: 7px;
}




/* Промо */
.slider {
    margin-bottom: 80px;
}

.control {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    padding: 8px;

    width: 38px;
    height: 38px;

    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: none;
    border: 2px solid #FCFCFC;
    background-clip: padding-box;
    box-sizing: border-box;
    outline: none;
}

.control:hover {
    background: #FCFCFC;
}

.control:hover path {
    fill: #2D3440;
}

.control:focus {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #2D3440;
}

.control:focus path {
    fill: #2D3440;
}

.control:active {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid rgba(252, 252, 252, 0.4);
}

.control:active path {
    fill: rgba(252, 252, 252, 0.4);
}

.slider-icon {
    margin: auto;
}

.slider-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;

    margin: 115px 21px 24px 0;
    padding: 0;

    width: 470px;
}

.slider-description {
    font-size: 18px;
    line-height: 24px;

    margin: 0 0 46px 0;
    padding: 0;

    width: 414px;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.slider-item {
    display: flex;
}

.slider-navigation {
    display: flex;
}

.page-list {
    display: flex;
    align-items: flex-end;

    width: 52px;

    margin: 0;
    padding: 0;

    list-style-type: none;
}

.page-btn {
    width: 12px;
    height: 12px;

    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 100px;
    outline: none;
}

.page-btn:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #FCFCFC;
    box-sizing: border-box;
}

.page-btn:focus {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #2D3440;
    box-sizing: border-box;
}

.page-btn.current {
    background-color: #FCFCFC;
}

.page-item .page-btn {
    display: block;
    width: 12px;
    height: 12px;

    margin: 0;
    padding: 0;
}

.page-item {
    margin-right: 8px;
}

.page-item:nth-child(3n) {
    margin-right: 0;
}

.social-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto;

    list-style-type: none;
}

.social-item {
    margin-right: 12px;
}

.social-item:last-child {
    margin: 0;
}

.social-btn {
    display: inline-block;
    padding: 0;
    margin: 0;

    height: 24px;
    width: 24px;

    border: 2px solid rgba(252, 252, 252, 0.2);
    border-radius: 100px;
    background-color: #FEAFC3;
    background-clip: content-box;
    outline: none;
}

.social-btn:hover {
    background: #2D3440;
    border: 2px solid rgba(252, 252, 252, 0.2);
}

.social-btn:focus {
    background: #2D3440;
    border: 2px solid #2D3440;
}

.vk-btn {
    height: 24px;
    width: 24px;
    background-image: url("../img/icon/vk.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
}

.fb-btn {
    height: 24px;
    width: 24px;
    background-image: url("../img/icon/facebook.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
}

.inst-btn {
    height: 24px;
    width: 24px;
    background-image: url("../img/icon/instagram.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
}

/* Подарки */
.gifts {
    margin-bottom: 80px;
}

.gifts-title {
    margin-top: 0;
    margin-bottom: 56px;

    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    text-align: center;
}

.gift-title {
    margin: 0 0 16px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.gift-description {
    margin: 0 0 32px 0;

    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
}

.gifts-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.gifts-item:first-child {
    background-image: url("../img/raspberry.png");
    background-position: bottom;
}

.gifts-item:last-child {
    background-image: url("../img/marshmallows.png");
    background-position: bottom;

    margin-left: auto;
}

.gifts-item {
    padding: 40px;

    background-repeat: no-repeat;
    background-size: 570px 268px;
    background-color: #FF7799;

    width: 490px;

    border-radius: 16px;
}

.product-card {
    margin-bottom: 80px;
}

.gifts-item:first-child .gift-description {
    width: 340px;
}

.gifts-item:last-child .gift-description {
    width: 310px;
}


/* Товары */
.product {
    margin-bottom: 80px;
}

.product-title {
    margin-top: 0;
    margin-bottom: 107px;

    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 30px;

    margin: 0 0 55px 0; 
    padding: 0;

    list-style-type: none;
}

.product-item {
    display: grid;
    grid-template-rows: 157px auto 32px 24px;
    grid-template-columns: 32px auto 32px 32px;
    gap: 8px;

    text-align: center;

    width: 270px;

    background-color: #FCFCFC;
    border-radius: 8px;
}

.product-card-link {
    position: relative;
    text-decoration: none;
    grid-column: 2 / 4;
}

.product-card-image {
    position: absolute;
    top: -51px;
    left: 11px;
    
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;

    border-radius: 50%;
    filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
}

.product-card-title {
    position: absolute;
    top: 133px;
    width: 190px;

    margin: 0;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #2D3440;
}

.product-card-description {
    grid-column: 2 / 4;

    margin: 0;
    padding: 0;

    color: #565C66;
}

.product-card-price {
    grid-column: 2 / 3;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    margin: auto 0;
}

.product-card-btn {
    grid-column: 3 / 4;

    width: 30px;
    height: 30px;

    padding: 0;
    margin: 0;

    border: 2px solid #FF2F64;
    box-shadow: none;
}

.product-card-btn:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #FF2F64;
}

.product-card-btn:focus {
    background: #FF2F64;
    border: 2px solid #2D3440;
}

.product-card-btn:disabled {
    background: #B9B9B9;
    border: 2px solid #B9B9B9;;
}

.product-icon {
    margin: 5px;
}

.product-icon path {
    fill: #FCFCFC;
}

.product-card-btn:hover path {
    fill: #2D3440;
}

.product-card-btn:disabled path {
    fill: #565C66;
}



/* Преимущества */
.advantages {
    margin-bottom: 80px;
    padding: 24px;

    background-image: url("../img/waffle-back.jpg");
    border-radius: 16px;
}

.advantages-inner {
    padding-top: 56px;
    background-color: #FCFCFC;

    border-radius: 16px;
}

.advantages-title {
    margin-top: 0;
    margin-bottom: 56px;

    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 40px 0 104px;
    padding: 0 0 16px 0;

    list-style-type: none;
}

.advantages-description {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;

    width: 442px;

    color: #565C66;
}

.advantages-description:nth-child(2n) {
    padding-right: 0;
}

.advantages-item {
    position: relative;
}

.icecreem-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -64px;

    width: 48px;
    height: 48px;

    background-image: url("../img/icon/ice-cream.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.cow-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -64px;

    width: 48px;
    height: 48px;

    background-image: url("../img/icon/cow.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.leaf-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -64px;

    width: 48px;
    height: 48px;

    background-image: url("../img/icon/leaf.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.thermo-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -64px;

    width: 48px;
    height: 48px;

    background-image: url("../img/icon/thermometer.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
}


/* Новости */
.info-row {
    display: flex;
    justify-content: space-between;

    margin-bottom: 80px;
}

.news {
    width: 570px;
    min-height: 220px;
    padding: 0;

    background-image: url("../img/news-back.jpg");
    background-repeat: no-repeat;
    background-size: 570px 216px;
    border-radius: 16px;
}

.news-title {
    margin: 32px auto 12px 32px;

    font-weight: normal;
    line-height: 20px;
    font-size: 16px;

    width: 303px;

    color: #565C66;
}

.news-description {
    margin: 0;
    margin-left: 32px;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    width: 303px;

    color: #2D3440;
}


/* Подписка */
.subs {
    width: 570px;

    margin-left: auto;

    background-image: url("../img/post-office-back.jpg");
    background-repeat: no-repeat;
    background-size: 570px 220px;
    border-radius: 16px;
}

.subs-description {
    width: 506px;

    margin: 0 0 42px 0;
    padding: 26px 26px 0 26px;
    color: #565C66;
}

.subs-form {
    display: grid;
    grid-template-columns: 4px auto 156px 1px;
    grid-template-rows: 48px 4px;
    gap: 22px;
}

.subs-form input {
    grid-column: 2 / 3;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;

    border: 1px solid #B9B9B9;
    border-radius: 4px;

    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    outline: none;
}

.subs-form input:hover {
    border: 1px solid #2D3440;
    cursor: pointer;
}

.subs-form input:focus {
    border: 2px solid #2D3440;
}

.subs-form input:invalid {
    border: 1px solid #EA5454;
}

.subs-form input:invalid:hover {
    border: 2px solid #EA5454;
}

.subs-form label:disabled {
    background: #E7E7E7;
    border: 1px solid #B9B9B9;
}

.subs-form .btn {
    grid-column: 3/4;
    margin: 0;
    padding-top: 10px; 
}

.subs-inner {
    width: 558px;

    margin: 6px;

    background-color: #FCFCFC;
    border-radius: 16px;
}


/* Форма заказа */
.order {
    display: flex;
    background-image: url("../img/form-back.jpg");
    background-repeat: no-repeat;
    background-size: 1170px 534px;
    border-radius: 16px;

    margin-bottom: 80px;
}

.order-col {
    margin: 167px 0 auto 100px;
}

.order-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    margin: 0 0 24px 0;
    padding: 0;
}

.order-description {
    margin: 0;
    margin-bottom: 163px;
    padding: 0;
    color: #565C66;
}

.order-form {
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 16px;
    width: 500px;

    margin: 64px 64px 64px 135px;
    padding: 40px;

    border-radius: 8px;
    background-color: #FCFCFC;
}

.order-form-description {
    grid-column: 1/-1;

    margin: 0;
    padding: 0;

    color: #565C66;
}

.order-label {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.order-adress {
    grid-column: 1/-1;
}

.order-date,
.order-phone,
.order-adress {
    display: flex;
    flex-direction: column;
}

.order-date input,
.order-phone input,
.order-adress input {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    margin: 8px 0 0 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;

    border: 1px solid #B9B9B9;
    border-radius: 4px;
    color: #B9B9B9;
    outline: none;
}

.order-form input:hover {
    border: 1px solid #2D3440;
    cursor: pointer;
}

.order-form input:focus {
    border: 2px solid #2D3440;
}

.order-form input:invalid {
    border: 1px solid #EA5454;
}

.order-form input:invalid:hover {
    border: 2px solid #EA5454;
}

.order-form input:disabled {
    background: #E7E7E7;
    border: 1px solid #B9B9B9;
}

.info {
    margin: auto 0;
    padding: 0;

    width: 14px;
    height: 14px;

    border: none;
    background-color: inherit;
    outline: none;
}

.order-form .btn {
    grid-column: 1/-1;
    justify-self: center;
}


/* Контакты */
.contacts {
    margin-bottom: 48px;
    background-image: url("../img/address-back.jpg");
    background-repeat: no-repeat;
    background-size: 1170px 492px;

    border-radius: 16px;
    height: 492px;
}

.contacts-inner {
    display: inline-block;
    padding: 40px;
    margin: 64px;

    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    background-color: #FCFCFC;
}

.contacts-address {
    margin-bottom: 28px;
}

.contacts-address-title {
    margin: 0 0 12px 0;
    padding: 0;

    font-size: inherit;
    font-weight: normal;

    width: 203px;

    color: #565C66;
}

.contacts-address-description {
    margin: 0 0 24px 0;
    padding: 0;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    width: 263px;
}

.contacts-phone {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #2D3440;
}

.contacts-address-time {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;

    font-size: 14px;
    line-height: 20px;

    color: #565C66;
}


/* Страница каталога */
.pagination-list {
    display: flex;

    width: 250px;

    margin: 32px 0 16px 0;
    padding: 0;

    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 28px;
}

.pagination-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    color: #2D3440;
}

.pagination-current {
    text-decoration: none;
}

.page-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    margin: 0 0 40px 0;
    padding: 0;
}

.more {
    display: flex;
}

.more-list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style-type: none;
}

.more-item {
    margin-right: 16px;
}

.more .btn {
    margin: auto;
}

.more-link {
    font-size: 16px;
    line-height: 20px;

    text-decoration: none;
    color: #2D3440;
}

.current-more {
    background-color: #FCFCFC;
}


/* Форма страницы каталога */
.catalog-filter {
    display: grid;
    grid-template-columns: 196px 196px 156px 187px;
    gap: 24px;
}

.catalog-filter-group {
    padding: 0;
    margin: 0;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
}

.catalog-filter-item {
    list-style-type: none;
}

.fat {
    grid-column: 3/-1;
}

.fillers {
    grid-column: 1/4;
}

.catalog-filter-title {
    font-size: 14px;
    line-height: 20px;
}

.control-label {
    font-size: 14px;
    line-height: 20px;
}

.range-toggle {
    text-align: center;
    
    color: #FCFCFC;
    background-color: #2D3440;
}

/* Подвал */
.page-footer .wrapper{
    display: flex;
}

.footer-social-list {
    display: flex;

    margin: 0;
    padding: 0;
    margin-right: 320px;

    width: 104px;

    list-style-type: none;
}

.social-item {
    height: 24px;
    width: 24px;

    margin-right: 16px;
}

.social-item:nth-child(3n) {
    margin-right: 0;
}

.suppliers {
    display: flex;
    justify-content: space-between;

    width: 332px;
}

.suppliers-col {
    display: flex;
    flex-direction: column;

    position: relative;
}

.suppliers-col:first-child {
    width: 130px;
}

.suppliers-col:last-child {
    width: 185px;
}

span.suppliers-info {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

span.suppliers-info::before {
    content: "";

    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    left: -24px;

    width: 16px;
    height: 16px;

    background-image: url("../img/icon/heart-fill.svg");
    background-repeat: no-repeat;
}

.suppliers-info {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px; 
    
    margin-bottom: 8px;

    color: #2D3440;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-bottom: 48px;
    margin-left: auto;
    
    font-size: 12px;
    line-height: 16px;

    height: 57px;
}

.copyright p {
    margin: 0;
    padding: 0;
}

.htmlacademy-link {
    color: #2D3440;
}